manifest {
  author = 'Sherrie Wang'
  name = 'BCCDC-PHL/noro_nf'
  version = '0.1.0'
  description = 'BCCDC-PHL Norovirus genotyping pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}

params {
  profile = false
  cache = ''
  outdir="results"
}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}