manifest {
  author = 'Sherrie Wang'
  name = 'BCCDC-PHL/noro_nf'
  version = '0.1.0'
  description = 'BCCDC-PHL Norovirus genotyping pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}

params {
  profile = false
  cache = ''
  outdir="results"
  fasta_input = 'NO_FILE'
  run_name = parseRunName( fasta_input )
}

def parseRunName ( fasta_input ) {
    run_name = (params.fasta_input =~ /([^\/]+)\/?$/)[0][1]
    if (!run_name) {                                                         
      throw new RuntimeException("ERROR: Parsing run name from FASTA path failed.")
    }
    return run_name
}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}