manifest {
    author = 'Sherrie Wang, Dan Fornika'
    name = 'BCCDC-PHL/norovirus-blast-nf'
    version = '0.1.0'
    description = 'BCCDC-PHL Norovirus genotyping pipeline'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.01.0'
}

params {
    profile = false
    cache = ''
    fasta_exts = ['*.fa', '*.fasta', '*.fna']
    fasta_search_path = makeFastaSearchPath(fasta_exts)
    fasta_input = 'NO_FILE'
    minid = 0.8
    mincov = 0.9
    outdir="results"
    collect_db_metadata = false
    collect_outputs = false
    collected_outputs_prefix = 'collected'
}

def makeFastaSearchPath (fasta_exts) {
    def fasta_search_path = []
    for (ext in fasta_exts) {
        fasta_search_path.add(params.fasta_input.toString() + '/' + ext.toString())
        fasta_search_path.add(params.fasta_input.toString() + '/**/' + ext.toString())
    }
    return fasta_search_path
}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}
